### connect database with python

In [2]:
pip install pyodbc

Defaulting to user installation because normal site-packages is not writeable
Collecting pyodbc
  Downloading pyodbc-5.2.0-cp313-cp313-win_amd64.whl.metadata (2.8 kB)
Downloading pyodbc-5.2.0-cp313-cp313-win_amd64.whl (69 kB)
Installing collected packages: pyodbc
Successfully installed pyodbc-5.2.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#install odbc driver

In [3]:
import pyodbc

In [4]:
print(pyodbc.drivers())

['SQL Server', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)', 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)', 'SQL Server Native Client RDA 11.0', 'ODBC Driver 17 for SQL Server', 'ODBC Driver 18 for SQL Server']

In [ ]:
#yeti kura chahinxa database lai python ma connect garna lai
driver_name chahinxa: 'SQL SERVER'
server_name chahinxa:'localhost\SQLEXPRESS'
database_name chahinxa:'office'

In [8]:
conn = pyodbc.connect('Driver={SQL Server};'
                    'Server=localhost\\SQLEXPRESS;'
                    'Database=office;'
                    'Trusted_Connection=yes;')

In [9]:
conn

In [11]:
import pandas as pd
import pyodbc

In [17]:
df = pd.read_sql('SELECT * FROM EMPLOYEE',conn)
df.head()

C:\Users\admin\AppData\Local\Temp\ipykernel_13688\1347989688.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('SELECT * FROM EMPLOYEE',conn)

    ID         NAME   ADDRESS  DEPART   SALARY
0  101  Ram Bahadur   Pokhara   Sales  45000.0
1  102    Sita Devi       KTM  Market  55000.0
2  103  Hari Prasad    Morang      CS  60000.0
3  104  Gita Kumari  Sindhuli   Sales  48000.0
4  105    Shyam Lal   Pokhara  Market  52000.0

In [ ]:
#df vaneko dataframe banisakyo so dataframe ko operation haru lagauna milxa

In [ ]:
#python ko code bata database ma insert pani garna milxa table ma

In [ ]:
#transition huda database ma gayera basxa so aba python bata database ma vako data lai load garera kaam garna sakxam